adafruit-ampy==1.0.7
aiocron==1.8
aiohttp==3.7.4.post0
aiostream==0.4.3
altgraph==0.17.2
APScheduler==3.8.0
async-lru==1.0.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.4.0
autopep8==1.6.0
beautifulsoup4==4.10.0
builtwith==1.3.4
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
click==8.1.3
colorama==0.4.4
croniter==1.3.5
DateTime==4.3
discord==1.7.3
discord.py==1.7.3
docopt==0.6.2
future==0.18.2
google==3.0.0
googlesearch-python==1.1.0
helpers==0.2.0
idna==3.2
instaloader==4.9
MouseInfo==0.1.3
multidict==6.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.29
pefile==2021.9.3
Pillow==8.4.0
psutil==5.9.0
pyaes==1.6.1
PyAutoGUI==0.9.53
pycodestyle==2.8.0
PyGetWindow==0.0.9
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.2
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
Pyrogram==2.0.27
pyromod==1.5
PyScreeze==0.1.28
pyserial==3.5
PySide2==5.15.2.1
PySocks==1.7.1
pytesseract==0.3.8
python-dateutil==2.8.2
python-dotenv==0.20.0
pytube==11.0.1
pytweening==1.0.4
pytz==2021.1
pywhatkit==5.1
pywin32-ctypes==0.2.0
schedule==1.1.0
shiboken2==5.15.2.1
six==1.16.0
soupsieve==2.2.1
speedtest-cli==2.1.3
TgCrypto==1.2.2
tinydb==4.5.2
toml==0.10.2
typing_extensions==4.0.1
tzlocal==2.1
urllib3==1.26.7
wikipedia==1.4.0
yarl==1.7.2
zope.interface==5.4.0
